func main() {
	logger.InitLogger()

	initProtocol := InitHttpProtocol()

	graceful.GracefulShutdown(
		context.TODO(),
		config.Get().Application.Graceful.MaxSecond,
		map[string]graceful.Operation{
			// place your service that need to graceful shutdown here
		},
	)

	// init http protocol
	initProtocol.Listen()

	// init other protocols here
}