{{ if .HaveInterface }}
type {{ .DependencyName }} interface {
{{- range .DependencyMethod }}
{{ .Method }}
{{- end}}
}
{{- end}}

type {{ .DependencyName }}Impl struct {
    {{- range .FuncParams }}
    {{ .ParamName }} {{ .ParamDataType }}
    {{- end}}
}

func New{{ .DependencyName }}(
    {{- range .FuncParams }}
    {{ .ParamName }} {{ .ParamDataType }},
    {{- end}}
) *{{ .DependencyName }}Impl {
    return &{{ .DependencyName }}Impl{
        {{- range .FuncParams }}
        {{ .ParamName }}: {{ .ParamName }},
        {{- end}}
    }
}

{{- range .DependencyMethod }}
{{ .MethodImpl }}
{{- end}}