{{ if .headerPrefix }} {{ .Header }} {{ end }}
package {{ .PackageName }}
{{ if .importPackages }}
import (
    {{- range .ImportedPackage}}
    {{ .Alias -}}{{ .FilePath -}}
    {{- end }}
)
{{- end }}
{{- if .importPackage }}
import {{ range .ImportedPackage}}{{ .Alias -}}{{ .FilePath -}}{{- end }}
{{- end }}
{{ .Body }}